$colors: red, orange, yellow, green, blue, indigo, violet;

.rainbow {
  width: 100vw;
  
  &__box {
    background-color: black;
    border: solid 1px white;
    border-radius: 20px;
    box-sizing: border-box;
    float: left;
    height: calc(100vh - 10px);
    margin-top: 5px;
    width: 14.285%;
  }
  
  //Create @each loop here
  
}